<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    
  <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>

  <div class="center hero-unit">
    <h1>Marketing for Busy People</h1>

    <h3>
 
      <a href="#">Marketing Hangouts</a>
    , a community for those <br />interested in the latest in marketing.
    </h3>
    <p> Sign up to post, follow users & learn the lastest tips, tricks and techniques.</p> 

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>

<% end %>