<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Marketing Guide", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <% if signed_in? %>
            <li><%= link_to "Users", users_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>

     <div class="container">
      <nav id="nav-menu">
        <ul class="nav pull-left" style="margin-left: -12px;" >
           <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Advertising <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Traditional Advertising", traditional_advertising_path   %></li>
                <li><%= link_to "Digital Advertising", digital_advertising_path   %></li>
              </ul>
            </li>
          <li><%= link_to "Branding", branding_path  %></li>  
           <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Public Relations <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Media Release", media_release_path   %></li>
                <li><%= link_to "Event Management", event_management_path   %></li>
                 <li><%= link_to "Blogging", blogging_path   %></li>

              </ul>
            </li>
           <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Digital <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
               <li><%= link_to "SEO", seo_path   %></li>
               <li><%= link_to "Email Marketing", email_marketing_path   %></li>
               <li><%= link_to "Social Media Marketing", social_media_marketing_path   %></li>
               <li><%= link_to "Online Advertising", online_advertising_path   %></li>
              </ul>
            </li>
          <li><%= link_to "Market Research", market_research_path  %></li> 
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Strategy <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Strategic Analysis", strategic_analysis_path   %></li>
                <li><%= link_to "Marketing Objectives", marketing_objectives_path   %></li>
                <li><%= link_to "Marketing Strategies", marketing_strategies_path   %></li>
                <li><%= link_to "Marketing Program/Plan", marketing_program_plan_path   %></li>
              </ul>
            </li>
                <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Metrics <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Google Analytics", root_path   %></li>
              </ul>
            </li>
        <li>
      <form class="navbar-form navbar-left" role="search" style="width: 95%; margin-left: 10px;">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search...">
        </div>
       <!-- <button type="submit" class="btn btn-default">Submit</button> -->
      </form>
      </li>
</ul>

      </nav>
    </div>
  </div>
</header>